.promo {
    height: 650px;
    padding: 21px 0 93px 0;
    background: url(../../img/bg/bg.jpg) center center/ cover no-repeat;
}
.promo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 91px;
}
.promo__wrapper .promo__header {
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.promo__wrapper .promo__subheader {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 17px;
}
.promo__icons {
    margin-top: 50px;
    width: 425px;
    display: flex;
    justify-content: space-between;
}
.promo__icons .promo__icon {
    width: 108px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
.promo__icons .promo__icon > img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.promo__link {
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}
.promo__link> a {
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    text-decoration-line: underline;
    color: #FFFFFF;
}