.title {
    font-weight: 700;
    font-size: 38px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.catalog__title {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #0D0D0D;
}
.feedback__title {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #0D0D0D;
}